body {
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#phone-img img {
  width: 280px;
}

#login {
  display: flex;
  flex-direction: column;
  border: 1px rgb(157, 157, 157) solid;
  margin: 0 auto;
  align-items: center;
  width: 300px;
  height: 350px;
  justify-content: space-evenly;
}

#login input {
  width: 80%;
}

#login h1 {
  font-family: 'Lobster', cursive;
  font-family: 'Kaushan Script', cursive;
}

#login a {
  text-decoration: none;
  font-size: 10px;
  color: #003569;
}

button {
  background-color: rgba(80, 162, 255, 0.829);
  color: white;
  width: 80%;
  border-radius: 5px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  margin-top: 280px;
}

#website-content {
  width: 70%;
}

#list-content {
  list-style-type: none;
  color: #003569;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 100%;
  float: right;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.copy-rights-content {
  color: #999;
  font-size: 10px;
}
